<!doctype html>
<html>

<head>
    <% include navi/head %>
</head>

<body class="container">
        
    <% include navi/header %>
    <br/>
    <nav class="navbar shadow-sm p-3 mb-5 rounded" style="background: rgb(20, 77, 117)">
        <div><br/>
            <h5 class="text-white"> Block <a class="text-white">#<%= pageId %></a></h5>
            <div class="shadow-sm p-3 mb-5 bg-white rounded">
                <table class="table table-sm" style="width: 100%; table-layout:fixed; word-break:break-all;">

                    <ul class="nav nav-tabs">
                        <li class="nav-item">
                            <a class="nav-link active" href="#">Overview</a>
                        </li>
                    </ul>

                    <tr>
                        <th scope="row">Block Height</th>
                        <td><%= blockNumber %></td>
                    </tr>
                    <tr>
                        <th scope="row">Timestamp:</th>
                        <td><%= blockTimestamp %></td>
                    </tr>
                    <tr>
                        <th scope="row">Transactions:</th>
                        <td><%= blockTransactionsLength %></td>
                    </tr>
                    <tr>
                        <th scope="row">Mined by:</th>
                        <td><a href="/address/<%= blockMiner %>"><%= blockMiner %></a></td>
                    </tr>
                    <tr>
                        <th scope="row">Block Reward:</th>
                        <td><%= blockReward %> ether</td>
                    </tr>
                    <tr>
                        <th scope="row">Difficulty:</th>
                        <td><%= blockDifficulty %></td>
                    </tr>
                    <tr>
                        <th scope="row">Total Difficulty:</th>
                        <td><%= blockTotalDifficulty %></td>
                    </tr>
                    <tr>
                        <th scope="row">Size:</th>
                        <td><%= blockSize %> bytes</td>
                    </tr>
                    <tr>
                        <th scope="row">Gas Used:</th>
                        <td><%= blockGasUsed %></td>
                    </tr>
                    <tr>
                        <th scope="row">Gas Limit:</th>
                        <td><%= blockGasLimit %></td>
                    </tr>
                    <tr>
                        <th scope="row">Extra Data:</th>
                        <td><%= blockExtraData %></td>
                    </tr>
                    <tr>
                        <th scope="row">Hash:</th>
                        <td><%= blockHash %></td>
                    </tr>
                    <tr>
                        <th scope="row">Parent Hash:</th>
                        <td><%= blockParentHash %></td>
                    </tr>
                    <tr>
                        <th scope="row">Sha3Uncles:</th>
                        <td><%= blockSha3Uncles %></td>
                    </tr>
                    <tr>
                        <th scope="row">Nonce:</th>
                        <td><%= blockNonce %></td>
                    </tr>
                </table>
            </div>
        </div>
    </nav>
</body>

</html>