<!doctype html>
<html>

<head>
    <% include navi/head %>
</head>

<body class="container">
    <% include navi/header %>
    <br/>
    <nav class="navbar shadow-sm p-3 mb-5 rounded" style="background: rgb(20, 77, 117)">
        <div><br/>
            <h5 class="text-white">Transaction Details</h5>
            <div class="shadow-sm p-3 mb-5 bg-white rounded">
                <table class="table table-sm" style="width: 100%; table-layout:fixed; word-break:break-all;">

                    <ul class="nav nav-tabs">
                        <li class="nav-item">
                            <a class="nav-link active" href="#">Overview</a>
                        </li>
                    </ul>

                    <tr>
                        <th scope="row">Transaction Hash:</th>
                        <td><%= hash %></td>
                    </tr>
                    <tr>
                        <th scope="row">Status:</th>
                        <td><%= status %></td>
                    </tr>
                    <tr>
                        <th scope="row">Block:</th>
                        <td><%= blockNumber %></td>
                    </tr>
                    <tr>
                        <th scope="row">Timestamp:</th>
                        <td><%= timestamp %></td>
                    </tr>
                    <tr>
                        <th scope="row">From:</th>
                        <td><a href="/address/<%= from %>"><%= from %></a></td>
                    </tr>
                    <tr>
                        <th scope="row">To:</th>
                        <td><a href="/address/<%= to %>"><%= to %></a></td>
                    </tr>
                    <tr>
                        <th scope="row">Value:</th>
                        <td><%= value %></td>
                    </tr>
                    <tr>
                        <th scope="row">Transaction Fee:</th>
                        <td><%= txFee  %></td>
                    </tr>
                    <tr>
                        <th scope="row">Gas Used by Transaction:</th>
                        <td><%= gasUsed %></td>
                    </tr>
                    <tr>
                        <th scope="row">Gas Price:</th>
                        <td><%= gasPrice %></td>
                    </tr>
                    <tr>
                        <th scope="row">Nonce:</th>
                        <td><%= nonce %></td>
                    </tr>
                    <tr>
                        <th scope="row">Input Data:</th>
                        <td><%= input %></td>
                    </tr>
                </table>
            </div>
        </div>
    </nav>

</body>

</html>